/*************************
* General settings
*************************/

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1em; }


.reveal blockquote {
	width: 90%;
}


/*Headers of nested slides*/
.reveal .level2 h1 {
 	font-size: 2.5em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: .8em;
 }

.reveal .source {
	position: absolute;
	bottom: -5em;
	font-size: .6em;
	width: 100%;
}


/*********************
* Title-Slide
*********************/
.reveal .title {
	font-size: 1.2em;
	padding-top: 1.5em;
}

.reveal .author {
	font-size: 1.2em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: 1.5em;
}

.reveal .date {
	font-size: 1em;
	text-transform: capitalize;
	font-variant: small-caps;
}



/*******************************
* Einführung ins Feld 
*******************************/

.reveal #hochschulverbindungslandschaft-in-österreich h1 {
	font-size: 2em;
	margin-bottom: .2em;
}
.reveal #hochschulverbindungslandschaft-in-österreich img {
	max-width: 80%;
}


/******************************* 
* Graphs for timeline
*******************************/

.reveal #base {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0em;
}

.reveal #line {
    width: 90%;
    height: 5px;
    background: #333;
    position: absolute;
    left: 5%;
    top: 50%;
}

.reveal #nov_dez {
    width: 3px;
    height: 10%;
    background: #333;
    position: absolute;
    left: 35%;
    top: 50%;
}

.reveal #dez_jan {
    width: 3px;
    height: 10%;
    background: #333;
    position: absolute;
    left: 65%;
    top: 50%;
}

.reveal #nov {
	position: absolute;
	top: 47%;
	left: 5%;
}

.reveal #dez {
	position: absolute;
	top: 47%;
	right: 40%;
}

.reveal #jan {
	position: absolute;
	top: 47%;
	right: 5%;
}

.reveal #april {
	position: absolute;
	top: 47%;
	right: 46%;
}


/******************************
* Classes for design and field
******************************/

.reveal .design {
	position: absolute;
	font-size: .7em;
	color: #C44DAD;
	margin: 0em;
	border: thin dotted #C44DAD;
	padding: .15em;
}

.reveal .field {
	position: absolute;
	font-size: .7em;
	color: #96AE39;
	margin: 0em;
	border: thin dotted #96AE39;
	padding: .15em;
}

/******************************
* Content  
******************************/

.reveal #design {
	top: 20%;
	left: -2%;
	width: 25%;
}

.reveal #design_ende {
	top: 0%;
	left: 15%;
	width: 25%;
}

.reveal #design_leitfaden {
	top: 34%;
	left: 40%;
	width: 25%;
}

.reveal #auswertung_interviews {
	top: 20%;
	right: 0%;
	width: 60%;
}

.reveal #beobachtung_1 {
	bottom: 0%;
	left: 11%;
	width: 28%;
}

.reveal #beobachtung_2 {
	bottom: 3%;
	left: 42%;
	width: 28%;
}

.reveal #interviews_1 {
	bottom: 25%;
	left: 18%;
	width: 40%;
}

.reveal #interviews_2 {
	bottom: 25%;
	right: 0%;
	width: 35%;
}

/* Sommersemester */


.reveal #trennung {
	top: 28%;
	left: 0%;
	width: 25%;
}

.reveal #fragebogen {
	top: 0%;
	left: 15%;
	width: 25%;
}

.reveal #auswertung_interviews_2 {
	top: 17%;
	left: 0%;
	width: 50%;
}

.reveal #auswertung_quant {
	top: 35%;
	right: 0%;
	width: 40%;
}

.reveal #interviews_3 {
	bottom: 22%;
	left: 0%;
	width: 40%;
}

.reveal #erhebung_fragebogen {
	bottom: 0%;
	left: 25%;
	width: 35%;
}
