

/*********************
* Title-Slide
*********************/
.reveal .title {
	font-size: 2.2em;
}

.reveal .author {
	font-size: 1.2em;
}

.reveal .date {
	font-size: 1em;
}



.reveal h1 {
  font-size: 2.3em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1em; }



/******************************* 
* Graphs for timeline
*******************************/

.reveal #base {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0em;
}

.reveal #line {
    width: 90%;
    height: 5px;
    background: #333;
    position: absolute;
    left: 5%;
    top: 50%;
}

.reveal #nov_dez {
    width: 3px;
    height: 10%;
    background: #333;
    position: absolute;
    left: 35%;
    top: 50%;
}

.reveal #dez_jan {
    width: 3px;
    height: 10%;
    background: #333;
    position: absolute;
    left: 65%;
    top: 50%;
}

.reveal #nov {
	position: absolute;
	top: 47%;
	left: 5%;
}

.reveal #dez {
	position: absolute;
	top: 47%;
	right: 40%;
}

.reveal #jan {
	position: absolute;
	top: 47%;
	right: 5%;
}

.reveal #april {
	position: absolute;
	top: 47%;
	right: 46%;
}

/******************************
* Content  
******************************/

.reveal .design {
	position: absolute;
	font-size: .7em;
	color: #C44DAD;
	margin: 0em;
	border-style: dotted;
	border-width: thin;
	border-color: #C44DAD;
}

.reveal #design {
	top: 20%;
	left: -2%;
	width: 25%;
}

.reveal #design_ende {
	top: 0%;
	left: 15%;
	width: 25%;
}

.reveal .field {
	position: absolute;
	font-size: .7em;
	color: #ADC44D;
	margin: 0em;
	border-style: dotted;
	border-width: thin;
	border-color: #ADC44D;
}

.reveal #beobachtung_1 {
	bottom: 0%;
	left: 11%;
	width: 28%;
}

.reveal #beobachtung_2 {
	bottom: 3%;
	left: 40%;
	width: 28%;
}

.reveal #interviews_1 {
	bottom: 25%;
	left: 18%;
	width: 40%;
}
